---
import { SITE } from '$/config'
import MainLayout from '$/components/MainLayout.astro'
import BaseHead from '$/components/BaseHead.astro'
import Prose from '$/components/Prose.astro'
import CommentsUtterances from '$components/CommentsUtterances.svelte';
const { content } = Astro.props
---
<!doctype html>
<html lang="en" data-theme="dracula">
    <head>
        <BaseHead title={ content.title ? `${ SITE.title } | ${content.title}` : SITE.title } description={ content.description } image={content.image}/>
    </head>
    <MainLayout>
        <div class="post__header">
            <div class="post__tags">
                { content.tags.length > 0 && content.tags.map(tag => <a class="post__tag" href={`/tags/${tag}`} title={tag}>{tag}</a>) }
            </div>
            <h1 class="post__title">{ content.title }</h1>
            <h5 class="post__desc">
                <a class="post__author" href={`https://twitter.com/${content.authorTwitter}`} title={`${content.author}'s twitter`} target="_blank" rel="external">{ content.author }</a> |
                <span class="post__date">{ new Intl.DateTimeFormat('en-US', { dateStyle: 'full' }).format(new Date(content.date))}</span>
            </h5>
        </div>
        <Prose>
            <slot />
        </Prose>
        <CommentsUtterances/>
    </MainLayout>
</html>
<style>
    .post__header {
        @apply py-4 mb-1
    }
    .post__title {
        @apply text-5xl font-extrabold
    }
    .post__author {
        @apply no-underline
    }
    .post__tags {
        @apply inline-flex gap-2
    }
</style>
